
@import "mixi.styl"
@import 'reset.styl'
  reset()
*
  margin 0
  padding 0
a
  text-decoration none
  color #000
ol
ul
  list-style none
input
textarea
  box-shadow none
  outline none
  border 1px solid #2CA2B4
  &:acitve
  &:focus
    appearance none
    border 1px solid #ccc
#app
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  width 694px
  font-family '微软雅黑'
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 20px /*no*/
  margin 0% auto
  overflow hidden
@media screen and (max-width 768px)
  #app
    width 100%
    border none
.border-1px
    height 100%
    border-left: 1px solid #2CA2B4
    border-right: 1px solid #2CA2B4
.backgroundColor
  background-color #2CA2B4
  color #fff
.app-wrapper
  height 100%
.app-content
  position absolute
  top 60px
  left 1px
  bottom 70px
  right 1px
  background-color #f2f2f2
  overflow-y scroll
  ol
  ul
    background-color #fff
    li
      border-top 2px solid #ccc
      a
        display block
        line-height 60px
        background-color #fff
        &:hover
          background-color #86CBD6
          color #fff
